body{
    background: #1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form{
    width: 500px;
    border: 2px solid "css";
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label{
    color: #888;
    font-size: 18px;
    padding: 10px;
}